/* Mix */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #dbdbd2 80%, #009688 74%);
  padding: 20px 0;
}

.container {
  width: 80%;
  height: 99%;
  margin: auto;
  display: flex;
}

.info {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
}

.profile_base_info {
  display: flex;
  align-items: center;
}

.profile_base_info > * {
  cursor: pointer;
}

.avatar {
  height: 54px;
  border-radius: 50%;
  }

.interactions {
  color: #B1B1B1;
}

.interactions i {
  margin-right: 24px;
  font-size: 20px;
  cursor: pointer;
  margin-left: -4px;
}

.scrollbar--show {
  overflow-y: scroll; /* Show scrollbars */
}
/* Tipography */
h3 {
  font-size: 15px;
  font-weight: 400;
}
/* Tipography end */
/* Mix end */
.menu {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* notifications */
.notifications {
  padding: 13px 15px;
  background-color: #8EDAFC;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bell {
  background-color: #fff;
  color: #8EDAFC;
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 8px;
}

.notifications h3:hover {
  text-decoration: underline;
}

.notifications a {
  font-size: 14px;
  color: #6B7376;
}
/* notifications end */
/* searchbar */
.container__search {
  background-color: #EAEAEA;
  padding: 5px;
}

.searchbar {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  border-radius: 5px;
}

.searchbar .fa-search {
  margin-right: 20px;
  margin-left: 10px;
  color: #B1B1B1;
}

.searchbar input {
  outline: none;
  width: 100%;
  border: none;
}
/* searchbar end */
/* chat list */
.info__contact {
  border-left: 1px solid #B1B1B1;
}

.chat__list {
  height: 100%;
  background-color: #fff;
}

.chat__preview {
  display: flex;
  padding: 10px 25px;
  cursor: pointer;
}

.chat__preview:hover {
  background-color: rgba(177, 177, 177, 0.5);
}

.chat__preview img {
  height: 60px;
  margin-right: 30px;
}

.chat__preview h3 {
  font-size: 17px;
}
/* chat list */
/* chat */
.chat {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile_base_info img {
  margin-right: 20px;
}

.contact__name span {
  color: #6B7376;
}

.chat__view {
  height: 100%;
  width: 100%;
  background-image: url("../img/mine.jpg");
  display:flex;
  flex-direction: column;
  padding: 30px 40px;
}

.msg {
  min-width: 200px;
  max-width: 45%;
  border-radius: 15px;
  font-size: 14px;
}

.msg p {
  padding: 15px 20px;
  padding-bottom: 5px;
}

.sent {
  align-self: flex-end;
  background-color: #D5F9BA;
}

.received {
  background-color: #fff;
}

.msg__date {
  display: block;
  text-align: right;
  color: #B1B1B1;
  font-size: 12px;
  margin-right: 20px;
}

.msg__input {
  width: 100%;
  background-color: #F3EEEA;
  margin-left: 1px;
  display: flex;
  align-items: center;
  padding: 5px 35px;
}

.msg__input i {
  font-size: 20px;
  color: #6B7376;
  cursor:pointer;
}

.msg__input input {
  width: 100%;
  margin: 0 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px 20px;
}
/* chat end */
