/* Mix */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #dbdbd2 80%, #009688 74%);
  padding: 20px 0;
}

.container {
  width: 80%;
  height: 99%;
  margin: auto;
  display: flex;
}

.info {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
}

.profile_base_info {
  display: flex;
  align-items: center;
}

.avatar {
  height: 54px;
  border-radius: 50%;
  }

.interactions {
  color: #B1B1B1;
}

.interactions i {
  margin-right: 24px;
  font-size: 20px;
  cursor: pointer;
  margin-left: -4px;
}

/* Tipography */
h3 {
  font-size: 13px;
}
/* Tipography end */
/* Mix end */
.contacts {
  width: 40%;
  height: 100%;
  background-color: blue;
}

.info__contact {
  border-left: 1px solid #B1B1B1;
}

.chat {
  width: 60%;
  height: 100%;
  background-color: pink;
}
