<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://www.boolean.careers/favicon.ico" type="image/x-icon">
  <!-- Favicon -->
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- /Google Fonts -->
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <!-- /fontawesome -->
  <!-- DayJs -->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script>dayjs().format()</script>
  <!-- /DayJs -->
  <!-- VueJs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /VueJs -->
  <!-- css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /css -->
  <title>Boolzapp</title>
</head>
<body>
  <main>
    <div id="root" class="container">
      <!-- sidebar -->
      <aside class="menu">
        <!-- menu header -->
        <div class="info">
          <div class="profile_base_info">
            <img class="avatar" :src="'img/avatar' + myAccount.avatar + '.jpg'" alt="user avatar">
            <h3> {{ myAccount.name }} </h3>
          </div>
          <nav class="interactions">
            <ul>
              <li><i class="icone_azione__icone fas fa-circle-notch"></i></li>
              <li><i class="icone_azione__icone fas fa-comment-alt"></i></li>
              <li><i class="icone_azione__icone fas fa-ellipsis-v"></i></li>
            </ul>
          </nav>
        </div>
        <!-- menu header -->
        <!-- notifications -->
        <div class="notifications">
          <div class="avatar bell"><i class="fas fa-bell-slash"></i></div>
          <div class="text">
            <h3>Ricevi notifiche dei nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <!-- /notifications -->
        <!-- search bar -->
        <div class="container__search">
          <div class="searchbar">
            <i class="fas fa-search"></i>
            <input type="text" name="search contact" placeholder="Cerca o Inizia una nuova chat" value="">
          </div>
        </div>
        <!-- /search bar -->
        <!-- chat list -->
        <div class="chat__list scrollbar--show">
          <ul>
            <li  v-for="(contact, i) in contacts" class="chat__preview" :class="{ 'chat--active': i == currentChat }" @click="getIndex(i)">
              <img class="avatar" :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
              <div class="name_and_chat">
                <h3>{{ contact.name }}</h3>
                <span class="last_message">{{ contact.messages[contact.messages.length - 1].message }}</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- /chat list -->
      </aside>
      <!-- /sidebar -->
      <!-- chat -->
      <div class="chat">
        <div class="info info__contact">
          <div class="profile_base_info">
            <img class="avatar" :src="'img/avatar' + contacts[currentChat].avatar + '.jpg'" alt="user avatar">
            <div class="contact__name">
              <h3> {{ contacts[currentChat].name }}</h3>
              <span v-if="contacts[currentChat].visible == true && contacts[currentChat].online == false">Ultimo accesso oggi alle {{ contacts[currentChat].lastSeen }}</span>
              <span v-if="contacts[currentChat].online == true">online </span>
            </div>
          </div>
          <nav class="interactions">
            <ul>
              <li><i class="fas fa-search"></i></li>
              <li><i class="fas fa-paperclip"></i></li>
              <li><i class="fas fa-ellipsis-v"></i></li>
            </ul>
          </nav>
        </div>
        <div class="chat__view scrollbar--show">
          <div v-for="conversation in contacts[currentChat].messages" class="msg" :class="conversation.status">
            <p> {{ conversation.message }} </p>
            <span class="msg__date">{{ conversation.date }}</span>
          </div>
        </div>
        <div class="msg__input">
          <i class="far fa-smile"></i>
          <input type="text" v-model="newMessage" @keydown.13="pushMessage(newMessage, 'sent'), autoResponse()" name="chat input" placeholder="Scrivi un messaggio" value="">
          <i class="fas fa-microphone"></i>
        </div>
      </div>
      <!-- /chat -->
    </div>
  </main>
  <script src="js/script.js" type="text/javascript"></script>
</body>
</html>
